body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.calculator {
    border: 1px solid gray;
}

.calculator td,
.calculator th {
    padding: 0.25em;
}

.calculator input {
    width: 4em;
}
